@import '@fontsource-variable/work-sans';
@import './fonts.css';
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: 'Work Sans Variable', sans-serif;
	--font-display: 'Gunterz', sans-serif;
	--color-accent: oklch(88.266% 0.20737 155.248);
	--color-background: oklch(20.992% 0.03416 263.451);
}

@layer base {
	html {
		scrollbar-gutter: stable;
		@apply scroll-smooth;
	}

	body {
		@apply min-h-screen font-sans text-white;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-display);
		letter-spacing: 0.02em;
		line-height: 1.2;
		font-weight: 700;
	}

	h1 {
		font-weight: 900;
		letter-spacing: 0.015em;
	}

	h2 {
		font-weight: 900;
	}
}
